<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Withdraws outputs</h3>
            <div class="box-tools">

                <div class="input-group">
                    <button class="btn btn-sm btn-info" data-ng-click="openModalAddWithdrawOutput()"><i class="fa fa-plus"></i></button>

                    <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th># withdraw</th>
                        <th>amount</th>
                        <th>To address</th>
                        <th>Accepted?</th>
                        <th>Ref</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="output in withdrawOutputs" data-ng-class="{'bg-success': output.withdraw.withdrawed_at}">
                        <td>#{{ output.id }}</td>
                        <td data-ng-if="output.withdraw">#{{ output.withdraw.id }}</td>
                        <td data-ng-if="!output.withdraw" class="text-muted">Not assigned yet</td>
                        <td><i class="fa fa-btc"></i> {{ output.amount }}</td>
                        <td>
                            <a data-ng-href="https://blockchain.info/address/{{output.to_address}}" target="_blank">{{output.to_address}}</a>
                        </td>
                        <td>{{ output.is_accepted }}</td>
                        <td>{{ output.reference }}</td>
                        <td>{{ output.created_at | date:'dd/MM/yyyy HH:mm' }}</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>