<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Withdrawal transactions</h3>
            <div class="box-tools">
                <div class="input-group">
                    <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Amount</th>
                    <th>inputs</th>
                    <th>fees</th>
                    <th># of recipient</th>
                    <th>Signed</th>
                    <th>date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="withdraw in withdraws">
                    <td>#{{ withdraw.id }}</td>
                    <td data-ng-if="!withdraw.txid"><i class="fa fa-btc"></i> {{ withdraw.total_outputs }}</td>
                    <td data-ng-if="withdraw.txid">
                        <a data-ng-href="https://blockchain.info/tx/{{withdraw.txid}}" target="_blank">
                            <i class="fa fa-btc"></i> {{ withdraw.total_outputs }}
                        </a>
                    </td>
                    <td>
                        {{ withdraw.total_inputs }}
                        <i class="fa fa-times"></i>{{ withdraw.withdraw_inputs.length }}
                    </td>
                    <td class="text-muted"><i class="fa fa-btc"></i> {{ withdraw.fees }}</td>
                    <td>{{ withdraw.withdraw_outputs.length }}</td>
                    <td data-ng-click="openModalSignature(withdraw)">
                        <span class="label label-default" data-ng-if="!withdraw.is_signed && withdraw.signatures == 0">
                            Unsigned
                        </span>
                        <span class="label label-warning" data-ng-if="!withdraw.is_signed && withdraw.signatures.length > 0">
                            Partially signed
                        </span>
                        <span class="label label-info" data-ng-if="withdraw.is_signed && !withdraw.withdrawed_at">
                            Fully signed
                        </span>
                        <span class="label label-success" data-ng-if="withdraw.is_signed && withdraw.withdrawed_at">
                            Withdrawed
                        </span>
                    </td>
                    <td>{{ withdraw.created_at | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>
                        <button class="btn btn-danger btn-xs" data-ng-if="!withdraw.is_signed && withdraw.signatures == 0" data-ng-click="deleteWithdraw(withdraw)">
                            <i class="fa fa-trash-o fa-lg"></i> Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>