<div class="modal" tabindex="-1" role="dialog" data-ng-controller="WithdrawModalCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>


            <div class="modal-body">

                <div class="row">
                    <ul class="signatures list-inline text-center">
                        <li data-ng-repeat="signature in withdraw.signatures">
                            <i class="fa fa-key bg-green"></i>
                            <h4>{{signature.name}}</h4>
                        </li>
                        <li data-ng-if="withdraw.signatures.length < withdraw.keychain.sign_required"
                            data-ng-repeat="signRequired in withdraw.keychain.pub_keys | limitTo:(withdraw.keychain.sign_required - withdraw.signatures.length)">
                            <i class="fa fa-key bg-success"></i>
                            <h4>&nbsp;</h4>
                        </li>
                    </ul>
                </div>

                <div class="form-group" data-ng-class="{'has-success': signState.success, 'has-error': signState.error}" data-ng-hide="withdraw.keychain.sign_required == withdraw.signatures.length">
                    <label class="control-label" for="seed">
                        <i class="fa fa-warning" data-ng-if="signState.error"></i>
                        <i class="fa fa-check" data-ng-if="signState.signed_by && !signState.error"></i>
                        {{ signState.label }}
                    </label>

                    <input type="text" class="form-control" id="seed" placeholder="Your private key goes here" data-ng-model="seed">
                </div>

                <h4>Outputs</h4>
                <ol>
                    <li data-ng-repeat="output in withdraw.withdraw_outputs">
                        <strong>{{output.amount}}</strong>
                        <a data-ng-href="https://blockchain.info/address/{{output.to_address}}" target="_blank">{{output.to_address}}</a>
                        ({{output.reference}})
                    </li>
                </ol>
            </div>


            <div class="modal-footer">
                <button class="btn btn-success" data-ng-click="verify(seed)" data-ng-disabled="signing || withdraw.keychain.sign_required == withdraw.signatures.length">
                    Sign for <i class="fa fa-bitcoin"></i> {{withdraw.total_outputs}}
                </button>

                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>